#search-box {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

label {
  font-size: 30px;
  margin: 10px;
}

input {
  width: 250px;
  height: 60px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.no-outline:focus {
  outline: none;
}

#search-field {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#search-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 20px;
}

#search-img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  label {
    font-size: 13px;
    margin: 5px;
  }

  form {
    width: 200px;
    height: 100px;
  }

  input {
    width: 150px;
    font-size: 15px;
  }

  #search-img {
    width: 10px;
    margin: 10px;
  }

  #search-box {
    height: 100px;
  }
}