#data-container, #details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

#details-container {
  flex-direction: column;
  margin: 20px;
}

@media only screen and (max-width: 620px) {
  #data-container {
    flex-direction: column;
  }
}